
/* Add styles for light mode */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .App-header {
  background-color: #f0f0f0;
}

/* Add styles for dark mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .App-header {
  background-color: #1f1f1f;
}

.App-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.timer-mode{
  display: flex;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
